*.opensdf
*.pyc
*.sdf
*.suo
build/cmake/gameanalytics/.idea
build/jenkins/.idea/
build/jenkins/build
build/jenkins/dependencies
build/obj
export/
tests/.idea
tests/build
/.project
source/dependencies/openssl/1.0.2h/libs/win32/vc140_x86_release/ssleay32.lib
source/dependencies/openssl/1.0.2h/libs/win32/vc140_x86_release/libeay32.lib
source/dependencies/curl/lib/win64/vc140_x64_release/libcurl.lib
source/dependencies/curl/lib/win32/vc140_x86_release/libcurl.lib
source/dependencies/curl/lib/win32/vc120_x86_release/libcurl.lib
source/dependencies/curl/lib/win32/vc120_x86_debug/libcurld.lib
source/dependencies/openssl/1.0.2h/libs/win32/vc120_x86_release/ssleay32.lib
source/dependencies/curl/lib/win64/vc120_x64_release/libcurl.lib
source/dependencies/curl/lib/win32/vc140_x86_debug/libcurl.lib
source/dependencies/openssl/1.0.2h/libs/win64/vc140_x64_release/ssleay32.lib
source/dependencies/openssl/1.0.2h/libs/win64/vc140_x64_release/libeay32.lib
source/dependencies/openssl/1.0.2h/libs/win32/vc120_x86_release/libeay32.lib
source/dependencies/openssl/1.0.2h/libs/win64/vc120_x64_release/libeay32.lib
source/dependencies/openssl/1.0.2h/libs/win64/vc120_x64_release/ssleay32.lib
source/dependencies/curl/lib/win64/vc120_x64_debug/libcurld.lib
source/dependencies/curl/lib/win64/vc140_x64_debug/libcurl.lib
